spring:
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:shook;MODE=MySQL

  sql:
    init:
      mode: always
      schema-locations: classpath:schema-test.sql

  jpa:
    properties:
      hibernate:
        format_sql: true
        show-sql: true
    hibernate:
      ddl-auto: validate

logging:
  level:
    org.hibernate.orm.jdbc.bind: trace

oauth2:
  google:
    access-token-url: http://localhost:8080/token
    member-info-url: http://localhost:8080/userinfo
    client-id: client
    client-secret: secret
    redirect-uri: redirect

jwt:
  secret-code: asdkfwofk23ksdfowsrk4sdkf
  access-token-valid-time: 12000
  refresh-token-valid-time: 634000

cookie:
  valid-time: 634000
