<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <!-- 스프링 profile 설정 -->
  <springProfile name="prod">

    <!-- 콘솔 출력 appender -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
        <pattern>
          [ %d{yyyy/MM/dd HH:mm:ss.SSS} ] %-5level-- [%thread][%logger][%class][%method:%line] - %msg %n
        </pattern>
      </encoder>
    </appender>

    <!-- 애플리케이션 로그 파일 appender -->
    <appender name="file-application" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>/etc/log/app/application.log</file>
      <encoder>
        <pattern>
          [ %d{yyyy/MM/dd HH:mm:ss.SSS} ] %-5level-- [%thread] %logger[%method:%line] - %msg %n
        </pattern>
        <charset>utf8</charset>
      </encoder>
      <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
        <fileNamePattern>application.%d{yyyy-MM-dd}-%i.log</fileNamePattern>
        <maxFileSize>100MB</maxFileSize>
        <maxHistory>15</maxHistory>
        <totalSizeCap>2GB</totalSizeCap>
      </rollingPolicy>
    </appender>

    <!-- WARN 로그 파일 appender -->
    <appender name="file-warn" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>/etc/log/warn/warn.log</file>
      <encoder>
        <pattern>
          [ %d{yyyy/MM/dd HH:mm:ss.SSS} ] %-5level-- [%thread] %logger[%method:%line] - %msg %n
        </pattern>
        <charset>utf8</charset>
      </encoder>
      <filter class="ch.qos.logback.classic.filter.LevelFilter">
        <level>WARN</level>
        <onMatch>ACCEPT</onMatch>
        <onMismatch>DENY</onMismatch>
      </filter>
      <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
        <fileNamePattern>warn.%d{yyyy-MM-dd_HH-mm}-%i.log</fileNamePattern>
        <maxFileSize>100MB</maxFileSize>
        <maxHistory>15</maxHistory>
        <totalSizeCap>1GB</totalSizeCap>
      </rollingPolicy>
    </appender>

    <!-- ERROR 로그 파일 appender -->
    <appender name="file-error" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>/etc/log/error/error.log</file>
      <encoder>
        <pattern>
          [ %d{yyyy/MM/dd HH:mm:ss.SSS} ] %-5level-- [%thread] %logger[%method:%line] - %msg %n
        </pattern>
        <charset>utf8</charset>
      </encoder>
      <filter class="ch.qos.logback.classic.filter.LevelFilter">
        <level>ERROR</level>
        <onMatch>ACCEPT</onMatch>
        <onMismatch>DENY</onMismatch>
      </filter>
      <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
        <fileNamePattern>error.%d{yyyy-MM-dd}-%i.log</fileNamePattern>
        <maxFileSize>100MB</maxFileSize>
        <maxHistory>15</maxHistory>
        <totalSizeCap>1GB</totalSizeCap>
      </rollingPolicy>
    </appender>

    <!-- 로그 root 레벨 & appender 설정 -->
    <root level="info">
      <appender-ref ref="console"/>
      <appender-ref ref="file-application"/>
      <appender-ref ref="file-warn"/>
      <appender-ref ref="file-error"/>
    </root>

  </springProfile>

</configuration>
